<div class="logo">
    <img src="assets/logo.png" alt="logo">
</div>
<br>
<div class="balance">
    <p id="p1">Current balance</p>
    <p id="p2" [ngStyle]="{color: getColor()}">{{ balance | number: '1.0-0' }} <span id="p1">RSD</span></p>
</div>
<div class="flex-container">
    <div class="income">
        <span id="p3">Add an income</span>
        <button (click)="onAddIncome()">
            <span class="material-icons-outlined" id="plus">add</span>
        </button>
    </div>
    <div class="expense">
        <span id="p3" style="color: #E35959;">Add an expense</span>
        <button (click)="onAddExpense()">
            <span class="material-icons-outlined" id="minus">remove</span>
        </button>
    </div>
</div>
<hr>
<p id="p4">History</p>
<div class="row" style="height: 50px;" *ngFor="let transaction of allTransactions">
    <div class="col-xs-12 transaction">
        <div class="inRow">
            <div class="day">
                <div id="p6">{{ transaction.created | date: 'd' }}</div>
                <div id="p7">{{ transaction.created | date: 'MMMM' }}</div>
            </div>
            <div>
                <img src="https://budgetapp.digitalcube.rs/assets/icons/history/{{ transaction.icon_png }}"
                    alt="transaction" height="28px" width="28px">
            </div>
        </div>
        <div class="inColumn">
            <div id="p4" style="opacity: 0.8;">{{ transaction.description }}</div>
            <div id="p1" style="margin-top: 4px;">{{ transaction.amount | number }} <span id="p5">RSD</span></div>
        </div>
    </div>
</div>
<mat-paginator
    [length]="totalItems" 
    [pageSize]="itemsPerPage"
    hidePageSize
    showFirstLastButtons
    (page)="onPaginate($event)">
</mat-paginator>

<div style="height: 100px;"></div>
<app-bottom-navigation></app-bottom-navigation>
<!-- <app-bottom-navigation *ngIf="!scrollHide"></app-bottom-navigation> -->