<div>
    <div class="image">
        <img src="assets/logout-sky.png" alt="logo" class="img-responsive">
    </div>
    <p>
        <span style="font-size: 16px; font-weight: 550;">We hope Budget App has lived up to your expectations</span>
        <br>
        <span style="font-size: 12px;">Our main priority is to improve your budget</span>
    </p>
</div>
<div class="center">
    <button mat-flat-button color="primary" (click)="onLogout()">Log out</button>
</div>

<div style="height: 290px;"></div>
<app-bottom-navigation></app-bottom-navigation>